*{
    margin: 0;
    padding: 0;
}
header{
    
    background-color: black;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    display: flex;
     

}

header ul{
    display: flex; 
    list-style: none; 
}
nav ul li {
    margin: 6px;
}
nav ul li a{
    text-decoration: none;
    color: #686565;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: end; 
    transition: 3s;

}
nav ul li a:hover {
    color: white;
    margin: 10px;

}
section h2 {
    background-color: #686565;display: flex;
    justify-content: center;
}
    


section p {
    background-color: #686565;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 15px;
    padding-top: 30 px ;

}

.redes {
    margin-top: 45px;
    display: flex;
   
 }    

 .redes li ul{

     text-align: none;
 }

body {
    background-color: #929090;
}