header {
    display: flex;
    background: rgb(11,11,11);
    background: linear-gradient(90deg, rgba(11,11,11,0.37298669467787116) 28%, rgba(175,169,184,0.5662640056022409) 86%, rgba(66,65,71,1) 100%);
    justify-content: space-between;
    align-items: center;
    margin: 5px;
     nav{
        transition: 3s;
        
        ul{
            display: block;  
            list-style: none; 
            margin: 6px;
            li{

                a{
                    text-decoration: none;
                    color: #0f0e0e;
                    font-family: Arial, Helvetica, sans-serif;
                    
                    
                 & a {
                    color: white;
                    margin: 10px;
                
                 }
                }
            }
        }
     }
}
