@media only screen and (min-width: 360px) {
  
    header  {
             nav{
                ul{
                    display: flex;
                    align-items: center;
                }
             }
     
    }
      .portada {
         display: flex;
              .encabezado{
                     padding: 75px; ;
                    
                        h1{
                            font-size: 65px;
                            p{
                                column-count: 2;
                            
                              }

                       }
                          

                  }
              }
    

}           
         
                    
    
  
    
    
